* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.mainSpace {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
header{
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

header h1,
section label,
header div{
    color: white;
    text-align: center;
    margin-top: 10px;
}

.avaible{
    margin:15px;
    padding: 10px;
    align-self: center;
    font-family: 'Press Start 2P', cursive;
    animation: rainbow 2.5s linear;
    animation-iteration-count: infinite;
    font-size: 20px;
}

.cell {
    width: 20px;
    height: 20px;
}

.filled {
    background: black;
}

.empty {
    background: white;
}
.patterns{
    pointer-events: none; /* Element can't be clicked */
    display: none; /* Hide the element */
}
.patternst{
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 250px;
    pointer-events: all;
    gap:8px;
}
.menu {

    width: 150px;
    height: 100%;
    overflow-y: auto; /*Vertical scroll*/	  
  }
   /* Styling the links */
   
  .menu a {
    text-decoration: none;
    background-color: rgb(255, 255, 255,0);
    display: block;	  
    color: white; 
    padding: 12px; 
    font-size : 10px;
  }

  .menu a:hover,
  button:hover {
    background-color:  rgb(253, 101, 225);
    color: white; 
    text-decoration: none; 
    cursor: pointer;
  }

.btnSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

button {
    font-family: 'Press Start 2P', cursive;
    outline: 0;
    font-size: 0.8em;
    font-weight: 600;
    background: #fff;
    border: none;
    padding: 1em 2em;
    transition: all .1s ease-out;
    box-shadow: inset 0 -8px 0 0 rgba(0, 0, 0, .2);
}

button:active {
    color: #222;
    box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, .2);
}

.clickDisable{ /* To disable buttons */
    pointer-events: none; /* Element can't be clicked */
    display: none; /* Hide the element */
}

.pointerDiable{
    pointer-events: none;
}


@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(134, 134, 255);
    }
    75%{
        color: rgb(184, 114, 255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}